@charset "UTF-8";

@font-face {
  font-family: "Hind";
  src: url(/fonts/Hind-Light.ttf?bea2b56690c1c53249f9fd8bd77a1a6d) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Hind";
  src: url(/fonts/Hind-Regular.ttf?d4ddc8177b52ba76cb976e55db4c05d7) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Hind";
  src: url(/fonts/Hind-Medium.ttf?d48035e32f535bcd3db1051f987b5bda) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Hind";
  src: url(/fonts/Hind-SemiBold.ttf?1603daa6718e6efa64a65298eef5dc62) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Hind";
  src: url(/fonts/Hind-Bold.ttf?63ddc19d8534da1ddd3898ce1ddfb5a4) format("truetype");
  font-weight: 700;
}

body {
  font-family: Hind;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-weight: 300;
}

nav {
  position: absolute;
  width: 100%;
  padding: 20px 0;
}

nav .container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

nav .container #logolink {
  display: inline-block;
  margin-left: 2rem;
  margin-right: auto;
}

nav .container #logolink img {
  width: 100%;
  max-width: 380px;
  vertical-align: middle;
  margin-left: 0.5rem;
}

nav .container #desktopmenu {
  margin-left: auto;
  margin-right: 2rem;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1.23rem;
}

nav .container #desktopmenu a {
  padding: 0 1em;
  font-weight: 400;
  color: #FFF;
  text-decoration: none;
  position: relative;
}

nav .container #desktopmenu a:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav .container #desktopmenu a::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

nav .container #desktopmenu a img {
  width: 100%;
}

nav .container #hbmenu {
  width: 2rem;
  cursor: pointer;
  margin-right: 2rem;
  margin-left: auto;
  margin-bottom: 20px;
  display: none;
}

nav .container #hbmenu img {
  width: inherit;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#homephoto {
  color: #FFF;
  font-family: Hind;
  background: url(/images/mountains-sky-bali-sunrise-kintamani-indonesia-webresize.jpg?f1407f949b9b330facf4ff1bad3b7a77) no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#homephoto .gradientoverlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(115deg, rgba(0, 96, 255, 0.52), rgba(221, 35, 96, 0.52));
  text-align: center;
}

#homephoto .gradientoverlay #intro {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1600px;
  height: 100%;
  margin: auto;
  padding: 0 45px;
}

#homephoto .gradientoverlay #intro .text {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  text-align: right;
}

#homephoto .gradientoverlay #intro .text h1 {
  font-size: 2.3rem;
  margin: 0;
}

#homephoto .gradientoverlay #intro .text p {
  margin: 0;
  font-size: 1.05rem;
}

#homephoto .gradientoverlay #intro .text b {
  font-weight: 500;
}

#homephoto .gradientoverlay #intro .verticalline {
  width: 2px;
  height: 170px;
  background-color: #FFF;
  margin: 0 40px;
  border-radius: 45%;
}

#homephoto .gradientoverlay #intro #mybigface {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: url(/images/FF_Profile.jpg?d2e59fb…) 0% 20%;
  background-size: cover;
}

@media screen and (max-width: 1460px) {
  #homephoto .gradientoverlay #intro .text {
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
  }

  #homephoto .gradientoverlay #intro .text h1 {
    font-size: 2rem;
  }

  #homephoto .gradientoverlay #intro .text p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  #homephoto .gradientoverlay #intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #homephoto .gradientoverlay #intro .text {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 40px;
  }

  #homephoto .gradientoverlay #intro .verticalline {
    display: none;
  }

  nav .container #logolink {
    margin-left: 1rem;
    margin-right: 6rem;
  }

  nav .container #desktopmenu {
    display: none;
  }

  nav .container #hbmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 430px) {
  #homephoto .gradientoverlay #intro .text h1 {
    font-size: 1.6rem;
  }

  nav .container #hbmenu {
    margin-bottom: 10px;
  }
}

