
// Fonts
@font-face
  font-family: "Hind"
  src: url('../fonts/Hind/Hind-Light.ttf') format('truetype')
  font-weight: 300

@font-face
  font-family: "Hind"
  src: url('../fonts/Hind/Hind-Regular.ttf') format('truetype')
  font-weight: 400

@font-face
  font-family: "Hind"
  src: url('../fonts/Hind/Hind-Medium.ttf') format('truetype')
  font-weight: 500

@font-face
  font-family: "Hind"
  src: url('../fonts/Hind/Hind-SemiBold.ttf') format('truetype')
  font-weight: 600

@font-face
  font-family: "Hind"
  src: url('../fonts/Hind/Hind-Bold.ttf') format('truetype')
  font-weight: 700

// Variables
@import "util/variables"

// // Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";


body
  font-family: Hind
  font-weight: 300
  margin: 0

input, textarea
  font-family: Hind

h1, h2, h3, h4, h5, h6
  font-weight: 300
  margin: 0

b
  font-weight: 500

.isDisabled
  color: currentColor
  opacity: 0.5
  text-decoration: none
  pointer-events: none

nav
  position: absolute
  width: 100%
  padding: 20px 0

  .container
    display: inline-flex
    width: 100%

    #logolink
      display: inline-block
      margin-left: 2rem
      margin-right: auto

      img
        width: 100%
        max-width: 380px
        vertical-align: middle
        margin-left: 0.5rem

    #menu
      margin-left: auto
      margin-right: 2rem
      margin-bottom: 15px
      display: flex
      align-items: flex-end
      font-size: 1.23rem

      a
        padding: 0 1em
        font-weight: 400
        color: #FFF
        text-decoration: none
        position: relative

        &:hover::after
          opacity: 1
          transform: translateY(0)

        &::after
          content: ''
          position: absolute
          top: 100%
          left: 0
          width: 100%
          height: 4px
          background: rgba(0,0,0,0.1)
          opacity: 0
          transition: opacity 0.3s, transform 0.3s
          transform: translateY(10px)

        img
          width: 100%

    .hbbutton
      width: 1.5rem
      cursor: pointer
      margin-right: 2rem
      margin-left: auto
      display: none

      img
        width: inherit
        align-self: center
        margin-top: 1.2rem

#mobilenav
  position: fixed
  height: 100vh
  background-color: rgba(0, 0, 0, 0.9)
  padding-top: 0
  display: none

  .container
    display: flex
    flex-direction: column

    #mobilemenuheader
      background-color: #1A1A1A
      width: 100%
      min-height: 90px
      flex: 1
      margin-bottom: 20px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      position: relative

      img
        max-width: 200px
        margin: 0

      .hbbutton
        width: 1.5rem
        position: absolute
        margin: 0
        right: 2rem
        top: 50%

    #menu
      display: flex
      flex-direction: column
      margin: 0
      align-items: start
      font-size: 1.7rem
      padding: 0 1em

      a
        width: 100%
        padding: 0

#homephoto
  color: $primary-color
  font-family: Hind
  background: url('../images/mountains-sky-bali-sunrise-kintamani-indonesia-webresize.jpg') no-repeat center fixed
  background-size: cover
  height: 100vh
  width: 100%

  .gradientoverlay
    width: 100%
    height: 100%
    background: linear-gradient(115deg, rgba(0, 96, 255, .52), rgba(221, 35, 96, .52))
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    margin: 0 0 10px

    #intro
      margin: auto auto 0 auto
      padding: 58px 45px 0
      max-width: 1600px
      display: flex
      align-items: center
      justify-content: center

      .text
        flex: 0.6
        text-align: right

        h1
          font-size: 2.3rem
          margin: 0

        p
          margin: 0

      .verticalline
        width: 2px
        height: 170px
        background-color: #FFF
        margin: 0 40px
        border-radius: 45%

      #mybigface
        width: 170px
        height: 170px
        // border: 4px solid #FFF
        border-radius: 50%
        background: url(/images/FF_Profile.jpg?d2e59fb…) 0% 20%
        background-size: cover

    .sociallinks
      display: flex
      align-self: center
      margin-bottom: 25px
      margin-top: auto

      a
        margin: 0 5px

        img
          height: 24px

#moreaboutme
  display: flex
  min-height: 48vh

  #actionimage
    flex: 0.4
    background: url(/images/actionphotosnscroppedbwt.jpg) 0% 85%
    background-size: cover

  .text
    flex: 0.6
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    *
      width: 80%

    h2
      font-size: 2rem
      margin: 0

#skills
  background: #f5f5f5
  display: flex
  flex-direction: column
  flex: 1
  align-items: center
  padding: 5vh 0 5vh

  .title
    text-align: center
    margin-bottom: 2.5em

    h2
      font-size: 2.4rem

    b
      font-weight: 600
      font-size: 1.2rem

  .container
    display: flex
    margin: auto
    flex-flow: row wrap
    justify-content: center
    max-width: 1200px
    width: 100%

    .skillbox
      width: 100px
      flex-basis: 300px
      text-align: center
      margin: 0 40px 4vh

      .imgcontainer
        width: 100%
        display: flex

        img
          margin: 0 auto 0.8em
          display: block
          height: 50px

      b
        font-size: 1.2rem

      p
        font-size: 0.8rem

  #moreskills
    text-align: center
    padding: 0 40px
    font-weight: 500

    a


#references
  display: none
  flex-direction: column
  align-items: center
  padding: 6vh 0

  .title
    text-align: center
    margin-bottom: 2.5em

    h2
      font-size: 2.5rem

#contact
  display: flex
  flex-direction: column
  align-items: center
  padding: 6vh 0

  .container
    max-width: 1200px

    .title
      text-align: center
      margin-bottom: 2.5em

      h2
        font-size: 2.4rem

      b
        font-size: 1.2rem
        font-weight: 600

    .pdtitle
      margin-bottom: 15px

    form

      #inputcontainer
        display: flex

        .inputs
          display: flex
          flex-direction: column
          margin-right: 20px

          input
            border: none
            background: #f5f5f5
            margin-bottom: 20px
            padding: 16px 20px
            max-width: 250px
            font-size: 1rem

        #messagecontainer

          textarea
            border: none
            background: #f5f5f5
            padding: 16px 20px
            font-size: 1rem
            min-height: 182px
            min-width: 500px

      #submitcontainer
        width: 100%
        text-align: right

        .sociallinks
          margin-top: 6px
          float: left

          a
            margin-right: 3px

            img
              height: 24px

        input
          color: #fff
          border: 2px solid currentColor
          background: #2e81dc
          padding: 8px 24px
          font-size: 1rem
          border-radius: 8px

          &:hover
            cursor: pointer

footer
  background-color: #1A1A1A
  color: #FFF
  padding-bottom: 30px

  #topfooter
    display: flex
    align-items: center
    justify-content: center

    .sociallinks
      margin-top: 10px
      margin-right: auto
      margin-left: 30px

      img
        height: 24px

    #middlecontainer
      padding-left: 157.48px
      padding-right: 135.5px

      nav
        position: inherit
        padding: 30px 0 15px

        #menu
          text-align: center
          font-size: 1.1rem

          a
            padding: 0 1em
            font-weight: 400
            text-decoration: none
            position: relative

    #copyright
      margin-left: auto
      color: #FFF
      margin-right: 30px

  .info
    text-align: center
    font-size: .85rem
    margin: auto
    max-width: 800px



@media screen and (max-width: 1460px)
  #homephoto
    .gradientoverlay
      #intro
        .text
          flex: 0.8

          h1
            font-size: 2rem
          p
            font-size: 1rem

@media screen and (max-width: 1100px)
  #moreaboutme
    #actionimage
      display: none

    .text
      flex: 1
      background: url(/images/actionphotosnscroppedbwtwovrly.jpg) 53% 97%
      padding: 40px 0

  #contact
    .container
      max-width: 100%
      margin: 0 30px

      form
        #inputcontainer
          flex-direction: column

          .inputs
            margin-right: 0

            input
              max-width: 100% !important

          #messagecontainer
            textarea
              box-sizing: content-box
              width: 100%
              min-width: 0
              min-height: 230px
              padding: 0

  footer
    #topfooter
      flex-direction: column
      padding: 20px 0

      div
        padding: 0 !important
        margin: 0 !important

        nav
          padding: 20px 0

    .info
      padding: 0 20px

@media screen and (max-width: 900px)
  #homephoto
    background-attachment: inherit

    .gradientoverlay
      #intro
        display: flex
        flex-direction: column
        justify-content: center

        .text
          flex: initial
          text-align: center
          margin-bottom: 40px
          padding-top: 45px

        .verticalline
          display: none

        #mybigface

  nav
    .container
      #logolink
        margin-left: 1rem
        margin-right: 6rem
        max-width: 300px

      #menu
        display: none

      .hbbutton
        display: flex


@media screen and (max-width: 480px)
  #homephoto
    .gradientoverlay
      #intro
        .text
          h1
            font-size: 1.6rem
            margin-bottom: 5px

  @media screen and (max-height: 605px)
    #homephoto
      height: auto
      .gradientoverlay
        padding: 40px 0
