
// Fonts
@font-face
  font-family: "Hind"
  src: url('../fonts/Hind/Hind-Regular.ttf') format('truetype')
  font-weight: normal

// Variables
@import "util/variables"

// // Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

body
  margin: 0

#photogradient
  color: $primary-color
  font-family: Hind
  background: url('../images/mountains-sky-bali-sunrise-kintamani-indonesia-gradient.jpg') no-repeat center center
  height: 100vh
  width: 100%
  background-size: cover
