
// Fonts
@font-face
    font-family: "Hind"
    src: url('../fonts/Hind/Hind-Regular.ttf') format('truetype')
    font-weight: normal

// Variables
@import "util/variables"

// // Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

body
    color: $primary-color
    font-family: Hind
